
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi
/dev

# Environment
.env
.env*.local

# (dev) json-server
db.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
