@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}

body {
  @apply bg-primary-800 text-accent-100 scroll-smooth;
  scroll-behavior: smooth;
}

.inset-padding {
  @apply p-6;
}

.vertical-center {
  top: 50%;
  margin: auto;
}

.text-huge {
  @apply text-8xl;
}

.text-big {
  @apply text-4xl;
}

.text-medium {
  @apply text-xl; 
}

.text-small {
  @apply text-base;
}

.loading-placeholder {
  @apply max-w-screen-xl mx-auto flex flex-col items-center align-middle justify-center my-48 text-huge italic;
}

.user-profile {
  @apply flex flex-row grid-cols-3 justify-between gap-12 mx-8 py-10 z-10;
  
  .activities {
    @apply vertical-center w-1/3 rounded-lg grid grid-flow-row gap-4;
    
    .recent-activity {
      @apply bg-accent-800 rounded-lg relative;
      
      .activity-entry {
        @apply text-medium;
      }
    }
  }

  .info {
    @apply w-full rounded-lg;
    
    .header {
      @apply bg-accent-800 h-auto rounded-lg flex flex-auto justify-evenly; 
        
        .avatar {
          aspect-ratio: 1/1;
          width: auto;
          object-fit: cover;
          @apply rounded-3xl inline px-4;
        }
        
        .basic-description {
          @apply w-full;
          
          .username {
            @apply italic h-2 pb-2;
          }
          
          .full-name { 
            @apply py-2;
          }
          
          .role {
            @apply py-2;
          }
          
          .biography {
            @apply py-2;
          }
        }
      }
    
    .social {
      @apply grid grid-flow-row grid-cols-2 justify-center my-12 gap-8;
      
      .following {
        @apply inset-padding bg-accent-800 rounded-lg h-auto;
      }
      
      .popular-projects {
        @apply inset-padding bg-accent-800 rounded-lg h-auto;
      }
    }
    
    .project-listings {
      .project-entry {
        @apply inset-padding bg-accent-800 rounded-lg h-auto text-medium my-12;
        
        .project-name {
          @apply text-big pb-4;
        }
        
        .project-description {
          @apply italic;
        }
      }
    }
  }
  
  .repositories {
    @apply vertical-center w-1/3 rounded-lg grid grid-flow-row gap-4;
    
    .repository-banner {
      @apply bg-accent-800 rounded-lg relative;  
      
      .repository-name {
        @apply text-medium;
      }
      
      .repository-date {
        @apply absolute bottom-1 right-2 italic;
      }
    }
  }
}

.courses-list-ctr {
  @apply max-w-screen-xl mx-auto py-16 grid grid-flow-row grid-cols-3 space-y-4 gap-4 justify-between items-center;
  
  .course-card {
    @apply relative
    p-4 pl-2 w-auto mx-6
    border-2 rounded-xl border-accent-700 
    hover:border-accent-100
    hover:bg-accent-300
    hover:bg-opacity-10
    transition-all duration-200
    cursor-pointer;
    
    .title {
      @apply pl-2 pb-2 text-medium overflow-hidden grid grid-flow-row grid-cols-1 justify-center place-items-center;
    }
    
    .separator {
      @apply w-full mx-auto opacity-75 pb-3;
    }
    
    .about {
      @apply pl-2 pb-2 text-small;
    }
    
    .course-id {
      @apply absolute right-0 pr-4 mt-10 bottom-0 text-accent-200;
    }
  }
}

.course-page {
  @apply max-w-screen-xl mx-auto flex flex-row flex-shrink;
  /* @apply max-w-screen-xl mx-auto grid grid-flow-row grid-cols-2 space-y-4 gap-4 justify-center items-center my-4; */
  
    .course-card {
    @apply relative
    p-4 pl-2 w-auto mx-6
    border-2 rounded-xl border-accent-700 
    transition-all duration-200;
    
    .title {
      @apply pl-2 pb-2 text-medium overflow-hidden grid grid-flow-row grid-cols-1 justify-center place-items-center;
    }
    
    .separator {
      @apply w-full mx-auto opacity-75 pb-3;
    }
    
    .about {
      @apply pl-2 pb-2 text-small;
    }
    
    .course-id {
      @apply absolute right-0 pr-4 mt-10 bottom-0 text-accent-200;
    }
  }
}


.dialog-scroll::-webkit-scrollbar {
  @apply rounded-xl pr-4 right-4;
  background: #d3d3d3;
  opacity: 0.1;
  width: 6px;
}

::-webkit-scrollbar {
  @apply rounded-xl pr-4 right-4;
  background: #210c0c;
  opacity: 0.1;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-accent-300 right-4 pr-4;
 /* background: #212121;  */
}


.dialog-scroll::-webkit-scrollbar-thumb {
  
}